
<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>VIBHAV</title>
	<meta charset="UTF-8">
	<meta name="description" content="Instyle Fashion HTML Template">
	<meta name="keywords" content="instyle, fashion, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Favicon -->
	<link href="assets/favicon.ico" rel="shortcut icon"/>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i&display=swap" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css"/>
	<link rel="stylesheet" href="css/slicknav.min.css"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="css/style.css"/>
</head>
<body>


	<!-- header section -->
	<header class="header-section">
		<div class="header-warp">
			<%= link_to image_tag("logo.png"), home_path %>
			<ul class="main-menu">
				<li><%= link_to 'home',home_path%></li>
       <!-- <li><%= link_to 'users',reg_users_path%></li>-->
				<li><%= link_to 'add',add_path%></li>
				<li><%= link_to 'status',status_path%></li>
				<li><%= link_to 'blacklist',blacklist_path%></li>
				<li><%= link_to 'logout','admin/logout'%></li>
				
			</ul>
		</div>
	</header>
	<!-- header section end -->
	
	
<%= render 'flash_messages' %>
<div class="container">
  <center><h3><b>Order's List</b></h3></center><br>            
  <table class="table table-striped">
    <thead>
      <tr align="center">
        <th>S.no</th>
        <th>College Id</th>
        <th>Name</th>
        <th>Email-id</th>
        <th>Phone</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <% s_no=1 %>
      <% @users.each do |user| %>
       <tr align="center">
        <td><%= s_no %></td>
      <td><%= user.collegeid %></td>  
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.phone %></td>
      <td><%= user.address %></td>
      <% s_no = s_no+1 %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<!--Table Listing-->
  
	
	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.slicknav.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/circle-progress.min.js"></script>
	<script src="js/main.js"></script>



	</body>
</html>
