<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>VIBHAV</title>
	<meta charset="UTF-8">
	<meta name="description" content="Instyle Fashion HTML Template">
	<meta name="keywords" content="instyle, fashion, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Favicon -->
	<link href="assets/favicon.ico" rel="shortcut icon"/>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i&display=swap" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/owl.carousel.min.css"/>
	<link rel="stylesheet" href="css/slicknav.min.css"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="css/style.css"/>
<!-- listing table -->

	

</head>
<body>
	<!-- header section -->
	<header class="header-section">
		<div class="header-warp">
			<%= link_to image_tag("logo.png"), home_path %>
			<ul class="main-menu">
				<li><%= link_to 'home',home_path%></li>
				<li><%= link_to 'admin',admin_path%></li>
				<li><%= link_to 'signup',signup_path%></li>
				<li><%= link_to 'login',login_path%></li>
				<!--<li><%= link_to 'booking',booking_path%></li>
				<li><%= link_to 'cancel',cancel_path%></li>-->
			</ul>
		</div>
	</header>
	<!-- header section end -->	
	<!-- listing table-->

<%= render 'flash_messages' %>	
	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.slicknav.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/circle-progress.min.js"></script>
	<script src="js/main.js"></script>


	</body>
</html>
